* {
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.0;
}

ul {
    list-style-type: none
}

figure {
    margin: 0px;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
.container--strech {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container--strech-up {
    padding-top: 94px;
}
    
@import "./utils/variables";
@import "./components/logo";
@import "./components/header";
@import "./components/navigation";
@import "./components/address";
@import "./components/mobile-menu";
@import "./components/footer";
@import "./components/index-page";
@import "./components/portfolio-page";
@import "./components/modal";
@import "./components/button";





@media (min-width: 768px) {}
@media (min-width: 1200px) {}