
.button {
    cursor: pointer;
    border-radius: 4px;
    color: $white;
    fill: $white;
    background-color: $main-blue;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 30px;
    
    
    &:hover,
    &:focus {
        color: $main-blue;
        fill: $main-blue;
        background-color: $white;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.newsletter__button {
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding-left: 42px;
    margin-left: 12px;
    border-width: 0px;
}

.newsletter__button-svg {
    height: 24px;
    width: 24px;
    margin-left: 24px;
}

.modal__button {    
    height: 50px;
    width: 200px;
    border: none;
    margin-left: 85px;
    box-shadow: 0px 1px 3px $material-shadow-0_12, 0px 1px 1px $material-shadow-0_14, 0px 2px 1px $material-shadow-0_20;
}
@media (min-width: 1200px) {
    .modal__button {
        margin-left: 124px;
    }
}
.service__button {
    box-sizing: border-box;
    border: none;
    padding: 10px 41px;}

// Other buttons

.selectors__button {
    color: $lighter-black;
    background-color: $light-grey;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 26px;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    cursor: pointer;
    
    &:hover,
    &:focus {
        background-color: $main-blue;
        color: $white;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    }
    
    
.modal__x-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50px;
    border-color: $modal-x-border;
    background-color: $white;
}
@media (min-width: 1200px) {
    .modal__x-button {
        top: 14px;
        right: 14px;
    }
}
    
.modal__x-symbol {
    display: flex;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
}