.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $material-shadow-0_20;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: $white;
    box-shadow: 0px 1px 3px $material-shadow-0_12, 0px 1px 1px $material-shadow-0_14, 0px 2px 1px $material-shadow-0_20;
    border-radius: 4px;
}
@media (min-width: 1200px) {
    .modal{
        width: 528px;
        height: 581px;
    }
}

.modal__hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0, 03em;
    text-align: center;
    color: $lighter-black;
    margin-bottom: 12px;
}
@media (min-width: 1200px) {
    .modal__title {
        line-height: 23px;
    }
}
.modal__flex {
    display: flex;
    flex-direction: column;
}

.imput {
    height: 40px;
    padding-left: 42px;
    border: 1px solid #21212133;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 4px;
    outline: none;
    
    &:focus-within {
        border-color: $main-blue;
    }
}

.imput__subtitle {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $fade-on-white;
    fill: $fade-on-white;
    
    &:focus-within {
        fill: $main-blue;
    }
}

.imput__svg {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 13px;
    top: 28px;
}

.imput__textbox {
    height: 120px;
    padding: 12px 16px;
    border: 1px solid #21212133;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 4px;
    resize: none;
    
    &:focus-within {
        border-color: $main-blue;
    }
}

.checkbox {
    display: flex;
    margin-bottom: 30px;
}

.checkbox__hidden {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: 15px;
    width: 16px;
    border-radius: 2px;
}

.checkbox__body {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(1px, 1px, 1px, 1px);
}

.checkbox__label {
    border: 1px solid $black;
    border-radius: 2px;
    height: 15px;
    width: 16px;
    cursor: pointer;
    fill: transparent;
    margin-top: 4px;
}

.checkbox__svg {
    position: absolute;
    height: 8px;
    width: 11px;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.checkbox__body:checked + .checkbox__label {
    border-color: $main-blue;
    background-color: $main-blue;
    fill: $white;
}

.rules {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 0.03em;
    color: $fade-on-white;
    margin-left: 8px;
}
@media (min-width: 1200px) {
    .rules {
        font-size: 14px;
        line-height: 24px;
        margin-left: 10px;
    }
}

.rules__link {
    display: flex;
    color: $main-blue;
    text-decoration: underline;

}