$white: #fff;
$black: #000;
$main-blue: #2196F3;
$lighter-black: #212121;
$light-grey: #f5f4fa;
$fade-on-white: #757575;
$fade-on-black: #ffffff99;
$material-shadow-0_20: #00000033;
$material-shadow-0_14: #00000024;
$material-shadow-0_12: #0000001F;
$background-color: #2F303A;
$hedder-border: #ececec;
$social-svg-color-on-wight: #AFB1B8;
$footer-ellipse: #FFFFFF1A;
$modal-x-border: #0000001A;
$sec-3-img-text-back: #2F303ACC;
$product-background: #eee;
$product-overley: #2196F3E5;
$newsletter-fading: #FFFFFF4D;